@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Iniciar Sesión</h2>

<form asp-action="Login" method="post">
    <input type="email" class="form-control" placeholder="Email" name="email" required />
    <input type="password" class="form-control" placeholder="Contraseña" name="password" required />

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <button type="submit" class="btn btn-primary mt-2">Ingresar</button>
</form>
