@model Inmobiliaria.Models.TipoInmueble
@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Seguro que desea eliminar el tipo de inmueble?</h3>
<div>
    <h4>Tipo de Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
       
    </dl>
    
    <form asp-action="delete" class="bg-white p-3 border rounded shadow-sm">
        <input type="hidden" asp-for="IdTipoInmueble" />
        <input type="hidden" name="bandera" value="bandera" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>