@model Inmobiliaria.Models.Inmuebles
@using Inmobiliaria.Models
@using System.Collections.Generic
@{
    ViewData["Title"] = "Create";
    var tiposInmuebles = (IList<TipoInmueble>)ViewBag.TipoInmuebles;
}

<h4>Nuevo Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-white p-3 border rounded shadow-sm">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Ambientes" class="control-label"></label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Superficie" class="control-label"></label>
                <input asp-for="Superficie" class="form-control" />
                <span asp-validation-for="Superficie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label"></label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label class="control-label">Tipo Inmueble</label>
				<select class="form-control" name="IdTipoInmueble">
                     <option value="" disabled selected>Seleccione un tipo de inmueble</option>
					@foreach (var item in tiposInmuebles)
                    {
                        <option value="@item.IdTipoInmueble">@item.Nombre</option>

                    }
				
				</select>
				<span asp-validation-for="IdTipoInmueble" class="text-danger"></span>
			</div>
            <div class="form-group">
                    <label class="control-label">Propietario</label>
                    <input type="text" id="propietarioInput" class="form-control" placeholder="Busque por apellido" list="propietariosList" autocomplete="off" />
                    <datalist id="propietariosList"></datalist>
                    <!-- Campo oculto para enviar el ID -->
                    <input type="hidden" id="IdPropietario" name="IdPropietario" />
            </div>

                        <script>
                            document.getElementById("propietarioInput").addEventListener("input", function () {
                                let valor = this.value;
                                
                                if (valor.length >= 3) {
                                    fetch(`/Propietarios/BuscarPropietarioPorFraccionApellido?term=${valor}`)
                                        .then(r => r.json())
                                        .then(data => {
                                            let dl = document.getElementById("propietariosList");
                                            dl.innerHTML = "";

                                            if (data.success) {
                                                
                                                data.data.forEach(p => {
                                                    let option = document.createElement("option");
                                                    console.log(p);
                                                    option.value = p.texto;   // se muestra Nombre Apellido (DNI)
                                                    option.dataset.id = p.id; // guardamos el ID
                                                    dl.appendChild(option);
                                                });
                                            }
                                        });
                                }
                            });

                            document.getElementById("propietarioInput").addEventListener("change", function () {
                                let valor = this.value;
                                let dl = document.getElementById("propietariosList").options;
                                for (let i = 0; i < dl.length; i++) {
                                    if (dl[i].value === valor) {
                                        document.getElementById("IdPropietario").value = dl[i].dataset.id;
                                    }
                                }
                            });
                        </script>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>