@model Inmobiliaria.Models.Pagos
@using Inmobiliaria.Models
@using System.Collections.Generic
@{
    ViewData["Title"] = "Create";
   // var tiposInmuebles = (IList<TipoInmueble>)ViewBag.TipoInmuebles;
}

<h4>Nuevo Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-white p-3 border rounded shadow-sm">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
           
            <div class="form-group">
                    <label class="control-label">Direccion del Inmueble</label>
                    <input type="text" id="direccionInput" class="form-control" placeholder="Busque por Direccion del inmueble" list="direccionesList" autocomplete="off" />
                    <datalist id="direccionesList"></datalist>
                    <!-- Campo oculto para enviar el ID -->
                    <input type="hidden" id="IdContratos" name="IdContratos" />
            </div>

                        <script>
                            document.getElementById("direccionInput").addEventListener("input", function () {
                                let valor = this.value;
                                
                                if (valor.length >= 3) {
                                    fetch(`/Contratos/buscarPorFraccionDireccion?term=${valor}`)
                                        .then(r => r.json())
                                        .then(data => {
                                            let dl = document.getElementById("direccionesList");
                                            dl.innerHTML = "";

                                            if (data.success) {
                                                
                                                data.data.forEach(p => {
                                                    let option = document.createElement("option");
                                                    option.value = p.DireccionInmueble;   // se muestra Nombre Apellido (DNI)
                                                    option.dataset.id = p.idContrato; // guardamos el ID
                                                    option.dataset.precio = p.Precio; // guardamos el precio
                                                    dl.appendChild(option);
                                                });
                                            }
                                        });
                                }
                            });

                            document.getElementById("direccionInput").addEventListener("change", function () {
                                let valor = this.value;
                                let dl = document.getElementById("direccionesList").options;
                                for (let i = 0; i < dl.length; i++) {
                                    if (dl[i].value === valor) {
                                        document.getElementById("IdContratos").value = dl[i].dataset.id;
                                        document.getElementById("precio").value = dl[i].dataset.precio;
                                    }
                                }
                            });
                        </script>
            
             <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control" readonly/>
                <span asp-validation-for="Importe" class="text-danger"></span>
                 <input type="hidden" id="precio" name="precio" />
            </div>  
             <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>