@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inmobiliaria Conlara</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*
<a class="btn btn-primary" asp-controller="Propietarios" asp-action="Index">
    Ver Propietarios
</a>
<a class="btn btn-primary" asp-controller="Inquilinos" asp-action="Index">
    Ver Inquilinos
</a>
*@

