@{
	ViewData["Title"] = "Auditoria";
}

<h1>
	Inmuebles
	<div class="btn-group pull-right">
		<a class="btn btn-info" asp-action="Pagos" title="Pagos">Pagos<i class="fa-solid"></i></a>
	</div>
	<div class="btn-group pull-right">
		<a class="btn btn-info" asp-action="Multas" title="Multas">Multas<i class="fa-solid"></i></a>
	</div>
	<div class="btn-group pull-right">
		<a class="btn btn-info" asp-action="Contratos" title="Contratos">Contratos<i class="fa-solid"></i></a>
	</div>
</div>